.game {
    background-image: linear-gradient(#F9D3D6, rgba(249, 211, 214, 0.25));
}

.overskrift {
    display: flex;
    justify-content: center;
}

.overskrift h1 {
    font-size: 1.5rem;
    margin-top: 20vw;
    color: #06428C;
    padding-bottom: 3vw;
    margin-bottom: 10vw;
    border-bottom: 2px solid white;

}

.gridwrapper {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    margin-bottom: 10vw;

}

.img {
    padding-bottom: 5vw;
    padding-top: 5vw;
    padding-left: 25vw;
    padding-right: 25vw;
}

.txt {
    padding-bottom: 5vw;
    padding-top: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;

    text-align: center;
}

.txt p {
    color: white;
}


/*** Mediaquries ***/

@media only screen and (min-width: 600px) {


    .overskrift h1 {
        font-size: 2.9rem;
        margin-top: 10vw;
        margin-bottom: 0vw;
        border-bottom: none;

    }


    .gridwrapper {
        grid-template-columns: minmax(100px, 1fr) minmax(200px, 2fr) minmax(100px, 1fr);
        justify-content: center;
        align-items: flex-start;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 0vw;
    }

    .img {
        padding: 5vw;
    }

    .txt {
        padding: 2vw;
        padding-top: 4vw;
    }

    .egg img {
        transform: rotate(-15deg)
    }

    .beer img {
        transform: rotate(15deg)
    }
}
