.game {
    background-image: linear-gradient(#F9D3D6, rgba(249, 211, 214, 0.25));
}

.overskrift {
    display: flex;
    justify-content: center;
}

.overskrift h1 {
    font-size: 1.5rem;
    margin-top: 20vw;
    color: #06428C;
    padding-bottom: 3vw;
    margin-bottom: 10vw;
    border-bottom: 2px solid white;

}

.gridwrapper {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10vw;
    margin: 5% 5vw;

}

.egg,
.beer {
    text-align: center;
}

.egg img {
    width: 40vw;
    display: inline-block;
}

.beer img {
    width: 40vw;
    display: inline-block;

}

.txt {
    text-align: center;
}

.txt p {
    color: white;
    font-size: 1.5rem;
}


/*** Mediaquries ***/

@media only screen and (min-width: 600px) {

    nav ul li:nth-child(2) a {
        color: #FFFFFF !important;
    }


    .overskrift h1 {
        font-size: 2.9rem;
        margin-top: 10vw;
        margin-bottom: 0vw;
        border-bottom: none;
        padding-bottom: 0;

    }


    .gridwrapper {
        grid-template-columns: minmax(100px, 1fr) minmax(200px, 2fr) minmax(100px, 1fr);
        justify-content: center;
        align-items: flex-start;
        margin: 5% 5vw;
    }


    .egg img {
        transform: rotate(-8deg);
        margin-top: 3vw;
        width: 13.5vw;

    }

    .beer img {
        transform: rotate(8deg);
        padding-right: 2vw;
        width: 13.5vw;
    }
}

/*****Tablet*****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .overskrift h1 {
        font-size: 2.3rem;

    }

    .txt p {
        font-size: 1rem;
        line-height: 20px
    }
}
