/*** Partners ***/
.partners {
    background-image: linear-gradient(#BEE0D9, rgba(190, 224, 217, 0.25));
}

.overskrift h1 {
    font-size: 1.3rem;
    margin-top: 20vw;
    margin-bottom: inherit;
    position: relative;
    z-index: 3;
}

.overskrift h2 {
    font-size: 0.8rem;
    margin-top: 1.2vw;
}

.overskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overskrift #egg {
    position: absolute;
    width: 7%;
    top: 3%;
    left: 81%;
    z-index: 2;
    transform: rotate(23deg);
}

.overskrift2 {
    font-size: 1.5rem;
    padding: 2vw;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    border-bottom: 2px solid white;
}

.gridwrapper {
    display: grid;
    grid-template-columns: repeat (minmax(150px, 1fr));

}


.icon {
    padding-bottom: 15vw;
    padding-top: 10vw;
    padding-left: 25vw;
    padding-right: 25vw;
}

.icon img:hover {
    transform: scale(1.1);
    transition: all 1s;
}






@media only screen and (min-width: 600px) {

    nav ul li:nth-child(4n) {
        color: #FFFFFF !important;
    }

    .overskrift h1 {
        font-size: 2.9rem;
        margin-top: 12vw;
        margin-bottom: inherit;
    }

    .overskrift #egg {
        position: absolute;
        width: 5%;
        top: 16%;
        left: 76%;
        z-index: 2;
        transform: rotate(23deg);
    }

    .overskrift h2 {
        font-size: 1.7rem;
        margin-top: 0.5vw;
        margin-right: 9vw;

    }

    .under_overskrift {
        align-self: flex-end;
    }


    .gridwrapper {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5vw;

    }


    .icon:nth-child(1n) {
        border-right: 2px solid white;

    }

    .icon {
        padding: 3vw;

    }

    .overskrift2 {
        display: none
    }
}

/*****Tablet*****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .gridwrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 20px;
        margin: 8vw;
    }
}

@media only screen and (min-width: 1600px) {
    .overskrift h1 {
        font-size: 6rem;

    }

    .overskrift h2 {
        font-size: 3.5rem;
        margin-top: 0.5vw;
        margin-right: 9vw;

    }

    nav ul li a {
        font-size: 1.8rem;
    }

    footer p {
        font-size: 1.8rem;
    }
}
