.some {
    background-image: linear-gradient(#BEE0D9, rgba(190, 224, 217, 0.25));
}


.someoverskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.someoverskrift h2 {
    font-size: 1rem;
    margin-top: 20vw;

    margin-bottom: inherit;
}

.someoverskrift h1 {
    font-size: 1.5rem;
    margin-top: 1.2vw;
}

.some .line1 {
    width: 280px;
    height: 2px;
    background-color: white;
    margin: 2vw;
    margin-top: 20vw;
    margin-bottom: 12vw;
}

.gridwrapper {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10vw;
    margin: 5% 5vw;


}

.egg img {
    position: absolute;
    width: 7%;
    top: 5%;
    left: 81%;
    transform: rotate(23deg);
}

.some_img img {
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.62);
}



/*****desktop*****/
@media only screen and (min-width: 600px) {

    nav ul li:nth-child(5) a {
        color: #FFFFFF !important;
    }

    .someoverskrift h2 {
        font-size: 1.7rem;
        margin-top: 12vw;

        margin-bottom: inherit;
    }

    .someoverskrift h1 {
        font-size: 2.9rem;
        margin-top: 0vw;
    }

    .gridwrapper {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
        align-items: center;
        grid-gap: 5vw;
        margin: 5% 5vw;

    }

    .some_img {}

    .some .line1 {
        display: none;
    }

    .some_img p {
        font-size: 1.2rem;
    }

    .egg img {
        width: 7%;
        top: 3%;
        left: 81%;
    }

}

/*****Tablet*****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .someoverskrift h1 {
        font-size: 1.5rem;

    }

    .someoverskrift h2 {
        font-size: 1rem;

    }

    .some_img p {
        margin-top: 1vw;
        font-size: 1rem;
    }

}

/*****4k*****/
@media only screen and (min-width: 1600px) {

    .some_img p {
        margin-top: 1vw;
        font-size: 2.5rem;
    }
}
