/*** Layout ***/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


.container:not(.index) {
    max-width: 2500px;
    margin: 0 auto;
    min-height: 100vh;
    /**sætter den i midten**/
}

.container {
    padding-bottom: 5vw;
    position: relative;
}

.hide {
    display: none !important;

}

img {
    width: 100%;
}

/*** Generelle tekster ***/
h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 2.9rem;
    margin: 0;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: #093A82;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.5px;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #707070;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
}


/*** Navigation **/

#navigation {
    height: 10vw;
    padding: 2vw 5vw;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.navlogo {
    height: 100%;
    display: inline-block;
}

.navlogo img {
    height: 160%;
    width: auto;
}

nav ul li:first-child {
    color: #FFFFFF;
    position: absolute;
    right: 3px;
    top: 10px;
    padding: 0.2vw 5vw 0 0;
    margin: 0;
    font-size: 1.7rem;
}

.burger {
    color: #FFFFFF;
    font-size: 1.7rem;
    display: inline-block;
    float: right;
}

nav ul {
    list-style: none;
    padding: 7vw 5vw 0 0;
    margin: 0;
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #093A82;
}

nav ul li {
    text-align: right;
    margin-bottom: 7vw;
    margin-top: 15vw;
}

nav ul li a {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
}



/*** Footer **/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 5vw;
}

.footer_right {
    display: none
}

.footer_left {
    display: none;
}

.line_right {
    width: 120px;
    height: 2px;
    background-color: #707070;
    margin: 5px;
    margin: 0.5vw;

}

.line_left {
    width: 200px;
    height: 2px;
    background-color: #707070;
    margin: 5px;
    margin: 0.5vw;

}

footer .logo {
    max-width: 2vw;
    margin: 0.5vw;

}

footer p {
    font-size: 0.8rem;
    margin: 0.5vw;
}

.mobil_logo {
    display: block;
}

.mobil_logo {
    display: flex;
    justify-content: space-around;
    width: 30vw;
}

.mobil_logo img {
    width: 8vw;
}

/*** Modal **/

.egg_modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 6;
}

.modal {
    position: relative;
    margin: 30vh auto;
    width: 45vw;
    height: auto;
    padding: 2vw;
    background-color: white;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.64);
}

.close_btn {
    display: flex;
    justify-content: flex-end;
    /*    padding: 1.5vw;*/
}

.modal_overskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal_overskrift h1 {
    font-family: 'PT Sans', sans-serif;
    color: #093A82;
}

.modal_overskrift h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #093A82;
}

.modal_overskrift h2 {
    font-family: 'PT Sans', sans-serif;
    color: #093A82;
}

.modal_overskrift p {
    font-family: 'PT Sans', sans-serif;
    color: #b2b2b2;
    font-size: 0.8rem;
}

.modal_overskrift .mail {
    width: 30vw;
    height: 4vw;

    border: solid 1px #BFBFBF;
    font-size: 1.3rem;
    color: #F9D3D6;
    padding: 10px;
    font-weight: 700;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.modal_overskrift .submit_button {
    height: 4vw;

    border: none;
    background-color: #F9D3D6;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: 700;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

/*** Mediaquries ***/

@media only screen and (min-width: 600px) {

    /*** Navigation **/
    #navigation {
        padding: 1.5vw 3vw;
        height: 6vw;
    }

    .burger,
    nav ul li:first-child {
        display: none;
    }

    .navlogo {
        width: 5vw;
    }

    nav ul {
        padding: 0;
        margin: 0;
        height: initial;
        position: static;
        width: initial;
        display: inline-block;
        float: right;
        background-color: transparent;
    }

    nav ul li {
        padding-right: 1vw;
        text-align: right;
        margin-bottom: 0;
        margin-top: 0;
        display: inline-block;
    }

    nav ul li a {
        color: #707070;
        font-size: 0.8rem;
    }

    nav ul li a:hover {
        color: #FFFFFF;
    }

    /*** Footer ***/
    footer {
        justify-content: space-between;
        padding: 1.5vw 3vw;
        height: 6vw;
    }

    .footer_right {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .footer_left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mobil_logo {
        display: none;
    }

    /***aninimationer****/

    .pulse {
        animation-name: pulse_kf;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }

    @keyframes pulse_kf {
        0% {
            transform: scaleX(1) scaleY(1)
        }

        100% {
            transform: scaleX(1.1) scaleY(1.1)
        }
    }


    @media only screen and (min-width: 1600px) {

        */ nav ul li a {
            font-size: 1.8rem;
        }

        footer p {
            font-size: 1.8rem;
        }
