/*********tekster*********/
/*
font-family: 'PT Sans',
sans-serif;
font-family: 'Quicksand',
sans-serif;
*/
/*********tekster slut*********/


/*** Layout ***/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


container {
    padding: 3vw;
    max-width: 1680px;
    margin: 0 auto;
    margin-bottom: 30px;
    /**sætter den i midten**/
}

.hide {
    display: none !important;

}

img {
    width: 100%;
}

/*header footer*/
/*** Landingpage ***/

h2 {
    font-family: 'Quicksand', sans-serif;
    color: #093A82;
    font-size: 1.5rem
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 3.5rem;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #707070;
    /*    font-size: 1.3rem*/
}

/*** Partners ***/
/*** Video_site ***/
/*** Game ***/
