/*** Layout ***/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


.container:not(.index) {
    max-width: 1680px;
    margin: 0 auto;
    /**sætter den i midten**/
}

.hide {
    display: none !important;

}

img {
    width: 100%;
}

/*** Navigation **/

#navigation {
    height: 10vw;
    padding: 2vw 5vw;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.navlogo {
    height: 100%;
    display: inline-block;
}

.navlogo img {
    height: 100%;
    width: auto;
}

nav ul li:first-child {
    color: #FFFFFF;
    position: absolute;
    right: 3px;
    top: 10px;
    padding: 0.2vw 5vw 0 0;
    margin: 0;
    font-size: 1.7rem;
}

.burger {
    color: #FFFFFF;
    font-size: 1.7rem;
    display: inline-block;
    float: right;
}

nav ul {
    list-style: none;
    padding: 7vw 5vw 0 0;
    margin: 0;
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #093A82;
}

nav ul li {
    text-align: right;
    margin-bottom: 7vw;
    margin-top: 15vw;
}

nav ul li a {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
}

/*** Footer **/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0px;
}

.footer_right {
    display: none
}

.footer_left {
    display: none;
}

.line_right {
    width: 120px;
    height: 2px;
    background-color: #707070;
    margin: 5px;
    margin: 0.5vw;

}

.line_left {
    width: 200px;
    height: 2px;
    background-color: #707070;
    margin: 5px;
    margin: 0.5vw;

}

footer .logo {
    max-width: 2vw;
    margin: 0.5vw;

}

footer p {
    font-size: 0.8rem;
    margin: 0.5vw;
}

.mobil_logo {
    display: block;
}

.mobil_logo {
    display: flex;
    justify-content: space-around;
    width: 30vw;
}

.mobil_logo img {
    width: 8vw;
}

/*** Generelle tekster ***/
h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 2.9rem;
    margin: 0;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: #093A82;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.5px;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #707070;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
}


/*** Landingpage ***/


#vertical {
    display: none;
}

.index {
    /* Skal var gradienten men for at kunne se den hvide skrift har jeg lige nu bare sat den blå farve på, indtil vi får gridet og sat det rigtigt op*/
    background-color: #BEE0D9;
    /*            background-image: linear-gradient(#BEE0D9, white);*/
}

#landingvideo {
    padding: 0;
    margin: 0;
}

#landingvideo video {
    width: 100%;
}

#landingpiccan img {
    width: 30vw;
    position: absolute;
    top: 21%;
    left: 34%;
}

.landingpage.gridwrapper {
    padding: 0 3vw 0 3vw;
    display: flex;
    flex-wrap: wrap;
}

#landingpicbottle {
    flex-grow: 1;
    flex-basis: 275px;
    position: relative;
    height: 115vw;
}

#landingpicbottle #bottle {
    position: absolute;
    width: 30vw;
    left: 34%;
    z-index: 3;
}

#landingpicbottle #egg {
    position: absolute;
    width: 30vw;
    left: 34%;
    z-index: 2;
}

.index h2:first-child {
    flex-grow: 1;
    flex-basis: 275px;
    margin-top: 50vw;
}

.index h1 {
    flex-grow: 1;
    flex-basis: 275px;
    text-align: center;
}

#landingsection {
    padding: 0 3vw 0 3vw;
}


.landingsection.gridwrapper {
    display: flex;
    flex-wrap: wrap;
}


#landingvideo,
#landingsection {
    flex-grow: 1;
    flex-basis: 275px;
}


/*** Partners ***/
.partners {
    background-image: linear-gradient(#BEE0D9, white);
}

/*** Video_site ***/

.videosite {
    background-image: linear-gradient(#FAC177, white);
}


.videooverskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videooverskrift h2 {
    font-size: 0.8rem;
    margin-top: 20vw;

    margin-bottom: inherit;
}

.videooverskrift h1 {
    font-size: 1.3rem;
    margin-top: 1.2vw;
}


/*** Game ***/

.game {
    /* Skal var gradienten men for at kunne se den hvide skrift har jeg lige nu bare sat den blå farve på, indtil vi får gridet og sat det rigtigt op*/
    background-color: #F9D3D6;
    /*            background-image: linear-gradient(#F9D3D6, white);*/
}

.gameoverskrift {
    display: flex;
}

.gameoverskrift h1 {
    font-size: 0.8rem;
    margin-top: 20vw;
}





/*** Mediaquries ***/

@media only screen and (min-width: 600px) {

    #horizontal {
        display: none;
    }

    #vertical {
        display: block;
    }

    /*** Navigation **/
    #navigation {
        padding: 1.5vw 3vw;
        height: 6vw;
    }

    .burger,
    nav ul li:first-child {
        display: none;
    }

    .navlogo {
        width: 5vw;
    }

    nav ul {
        padding: 0;
        margin: 0;
        height: initial;
        position: static;
        width: initial;
        display: inline-block;
        float: right;
        background-color: transparent;
    }

    nav ul li {
        padding-right: 1vw;
        text-align: right;
        margin-bottom: 0;
        margin-top: 0;
        display: inline-block;
    }

    nav ul li a {
        color: #707070;
        font-size: 0.8rem;
    }

    nav ul li a:hover {
        color: #FFFFFF;
    }

    /*** Footer ***/
    footer {
        justify-content: space-between;
        padding: 1.5vw 3vw;
        height: 6vw;
    }

    .footer_right {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .footer_left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mobil_logo {
        display: none;
    }


    /*** Landingpage ***/

    #landingsection {
        padding: 0 2vw 0 10vw;
    }

    #landingpiccan img {
        width: 15vw;
        position: absolute;
        top: 21%;
        left: 42%;
    }


    .landingpage.gridwrapper {
        margin-top: 7vw;

    }

    #landingpicbottle {
        height: 50vw;
    }

    #landingpicbottle #bottle {
        width: 12vw;
        left: 35%;
        z-index: 3;
    }

    #landingpicbottle #egg {
        position: absolute;
        width: 10vw;
        left: 35%;
        z-index: 2;
    }


    .index h2:first-child {
        margin-top: 10vw;
    }

    .index h1 {
        text-align: center;
    }

    .index #difstyling1 {
        padding: 7vw 0 0 2vw;

    }

    .index #difstyling2 {
        padding: 18vw 2vw 0 0;

    }
}

/********* Footer *********/
