.videosite {
    background-image: linear-gradient(#FAC177, rgba(250, 193, 119, 0.25));
}


.videooverskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videooverskrift h2 {
    font-size: 1rem;
    margin-top: 20vw;
    margin-bottom: inherit;
}

.videooverskrift h1 {
    font-size: 1.5rem;
    margin-top: 1.2vw;
}

.videosite .line1 {
    width: 280px;
    height: 2px;
    background-color: white;
    margin: 2vw;
    margin-top: 20vw;
    margin-bottom: 12vw;
}

.gridwrapper {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10vw;
    margin: 5% 5vw;

}

.video {
    padding: 0;
    margin: 0;
}

.video video {
    width: 100%;
}

.video #egg {
    position: absolute;
    width: 10vw;
    bottom: 3%;
    left: 7%;
    transform: rotate(-23deg);
}

.hastag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vw;
}

/*** Mediaquries ***/
@media only screen and (min-width: 600px) {

    nav ul li:nth-child(3) a {
        color: #FFFFFF !important;
    }

    .videooverskrift h2 {
        font-size: 1.7rem;
        margin-top: 12vw;

        margin-bottom: inherit;
    }

    .videooverskrift h1 {
        font-size: 2.9rem;
        margin-top: 0vw;
    }

    .gridwrapper {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
        grid-column-gap: 25px;
        margin: 5% 5vw;
        align-items: center;

    }

    .video {
        padding: 0;
        margin: 0;
    }

    .video video {
        width: 100%;
    }

    .video #egg {
        width: 5vw;
        top: 20%;
        left: 7%;
    }


    .videosite .line1 {
        display: none;
    }

    .hastag {
        margin: 2vw;
        margin-bottom: 5vw;
        font-size: 2.5rem;
    }

    .hastag p {
        font-size: 1.5rem;
    }

}
