.videosite {
    background-image: linear-gradient(#FAC177, white);
}


.videooverskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videooverskrift h2 {
    font-size: 1rem;
    margin-top: 20vw;

    margin-bottom: inherit;
}

.videooverskrift h1 {
    font-size: 1.5rem;
    margin-top: 1.2vw;
}

.videosite .line1 {
    width: 280px;
    height: 2px;
    background-color: white;
    margin: 2vw;
    margin-top: 20vw;
    margin-bottom: 12vw;
}

/*** Mediaquries ***/
@media only screen and (min-width: 600px) {}
